<%# ---------------------------------------------------------------------------------
  Name: _head
  Description: Partial Templete to be used between the <head></head> tags on the page
  Last Refactored: 11/28/2018
---------------------------------------------------------------------------------  #%>


<!-- BEGIN: source/partials/_head.ejs -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Manbeardgames">

<!-- SEO Title -->
<meta name="title" content="ManBeardGames <%- page.title %>">
<!-- SEO Description -->
<meta name="description" contnet="<%- page.description %>">

<!-- Open Graph Type -->
<meta property="og:type" content="website">
<!-- Open Graph Title -->
<meta property="og:title" content="<%- page.ogtitle %>">
<!-- Opeh Graph Image -->
<meta property="og:image" content="<%- page.ogimage %>">
<!-- Opeh Graph Site Name -->
<meta property="og:site_name" content="ManBeardGames">
<!-- Open Graph Description -->
<meta property="og:description" content="<%- page.ogdescription %>">

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

<%# Use the title from the page's front matter if it has one %>
<title><%- page.title %></title>

<!-- Bootstrap 4.0 CSS -->
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

<!-- Material Design Icons CSS -->
<link rel="stylesheet" href="/vendor/mdi/css/materialdesignicons.css">

<!-- Site CSS -->
<link rel="stylesheet" href="/css/site.css">

<!-- jQuery JS -->
<script type="text/javascript" src="/vendor/jquery/js/jquery.js"></script>

<!-- PrismJS Style Theme CSS -->
<link rel="stylesheet" href="/vendor/prismjs/css/prism-tomorrow.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63802407-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-63802407-1');
</script>

<!-- END: source/partials/_head.ejs -->
